/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    min-height: 100vh;
    background: #fff ;
}

.navigation{
    position: fixed;
    width: 60px;
    height: 100%;
    background: #3c3c3c;
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active{
    width: 300px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li:hover{
    background: green;
    
}



.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff; 
}


.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa{
    font-size: 24px;
}


.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
}

.toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #3c3c3c;
    cursor: pointer;

}

.toggle.active{
    background: green;
}

.toggle:before{
    content: "\f0c9";
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.toggle.active:before{
    content: "\f00d";
 
} */


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3c3c3c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 20px 20px 20px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.5s;
  }
  
  .sidebar .item:hover {
    color: white;
    background-color: #149654;
    text-decoration: none;
  }

  .sidebar a:hover{
    text-decoration: none;
    color: #149654;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 40px;
    cursor: pointer;
    background-color: #149654;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: white;
    color: #149654;
  }
  
  #main {
    transition: margin-left .5s;
    
  }

#main .header{
  background-color: #149654;
}


.toggle:before{
  content: "\f0c9";
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.toggle.active:before{
  content: "\f00d";
}